//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$sidebar-width: 220px;
$font-family: "microsoft yahei", "Avenir", Helvetica, Arial, sans-serif;
// 用在背景色和字体颜色上
$primary-color: #1ab394;
$default-color: #c2c2c2;

$btn-color-default: #18a689;
$btn-color-focus: #bababa;
$btn-color-hover: #bababa;

$ml: 220px;
